.about {
	padding: 22px 0 59px
}
.about__left,
.about__right {
	display: inline-block;
	vertical-align: top;
}
.about__left {
	border-right: 1px solid #e5e5e5;
	padding-right: 31px;
}
.about__right {
	padding-left: 27px;
}
.about__title {
	color: #302d2e;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 22px;
}