.apt-popover {
	width: 165px;
	background: #fff;
	position: absolute;
	top: -10px;
	left: -22px;
	padding: 20px;
}
.apt-popover:after {
	content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
}
.apt-popover__title {
	font-weight: 700;
	line-height: 35px;
}
.apt-popover__highlighted {
	font-size: 16px;
	color: #f3292e;
	margin-bottom: -3px;
}
.apt-popover__price {
	font-size: 13px;
	margin-bottom: 12px;
}
.apt-popover__bottom {
	font-size: 12px;
	line-height: 15px;
}
.apt-popover__grey-text {
	color: #767676;
}