.bottom-navigation {
	font-weight: 700;
	font-size: 18px;
	line-height: 115px;
	padding: 0 55px;
}
.bottom-navigation__left-arrow,
.bottom-navigation__right-arrow {
	font-size: 20px;
	vertical-align: middle;
}
.bottom-navigation__left-arrow {
	margin-right: 20px;
}
.bottom-navigation__left-arrow {
	margin-left: 20px;
}