.breadcrumb {
	margin-top: 42px;
	padding-left: 0;
	background: none;
	font-size: 13px;
}
.breadcrumb > .active {
	color: #767676;
}
.breadcrumb > .white {
	color: #fff;
}
.breadcrumb-arrows {
	margin-top: 36px;
}
.breadcrumb-arrows > li + li:before {
	content: "\003e";
}