.brick {
	display: inline-block;
	color: #1a1a1a;
	border: 1px solid #e2e2e2;
	position: relative;
	padding: 5px;
	margin-bottom: 3px;
}
.brick:before {
	position: absolute;
	left: -2px;
	top: -1px;
	width: 2px;
	height: calc(100% + 2px);
	background: #f7ba50;
	content: "";
}
.brick_red:before {
	background: #f3292e;
}