.btn-default {
	background: transparent;
	font-weight: 700;
	padding: 12px;
	border: 2px solid #d1d1d1;
}
.btn-default:hover {
	background: transparent;
}
.btn-default:focus {
	background: transparent;
	border: 2px solid #d1d1d1;
}
.btn-default:active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover {
	background: transparent;
	border: 2px solid #d1d1d1;
	outline: none;
}