.btn-blue {
	background: #0f94bb;
	font-weight: 700;
	padding: 12px;
	color: #fff;
	font-weight: 700;
}
.btn-blue:hover {
	background: #00a6d6;
	color: #fff;
}
.btn-blue:focus {
	background: #0f94bb;
	border: none;
}
.btn-blue:active,
.btn-blue.active.focus,
.btn-blue.active:focus,
.btn-blue.active:hover,
.btn-blue:active.focus,
.btn-blue:active:focus,
.btn-blue:active:hover {
	background: #0074d8;
	border: none;
	outline: none;
}