.btn {
	border: none;
	border-radius: 0;
}
.btn:active,
.btn:focus {
	outline: none;
}
.btn_download-price {
	position: absolute;
    top: 19px;
    right: 0px;
    line-height: 42px;
    padding: 0 20px 0 18px !important;
}