.checkbox {
	display: none;
}
.checkbox + span {
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
	background: url('../img/ui-elements.png') 56px 49px;
}
.checkbox:checked + span {
	background-position: 56px 28px;
}
.checkbox__label {
	display: block;
	position: relative;
	min-width: 82px;
	padding-left: 26px;
}