.chessboard {
	padding-left: 15px;
}
.chessboard__legend {
	font-size: 12px;
	margin-top: 27px;
}
.chessboard__status {
	margin-right: 20px;
}
.chessboard__status:before {
	content: "";
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}
.chessboard__status_available:before {
	background: #97c65b;
}
.chessboard__status_promo:before {
	background: #f7ba50;
}
.chessboard__status_booked:before {
	background: #6e6e6e;
}
.chessboard__status_sold:before {
	background: #e4e4e4;
}