.city-selector {
	position: relative;
	right: -95px;
}
.city-selector__item {
	color: #f3292e;
	border-bottom: 1px dotted #f3292e;
	margin-right: 10px;
}
.city-selector .menu__link:hover > .city-selector__item,
.city-selector .menu__link:active > .city-selector__item {
	border: none;
}
.city-selector .menu__link:active > .city-selector__item {
	color: #0f95bb;
}
.city-selector .menu__link:hover:after,
.city-selector .menu__link:active:after {
	background: transparent;
}