.comments-slider {
	position: relative;
	margin: 30px 0 60px;
}
.comments-slider__img-wrapper {
	text-align: right;
}
.comments-slider__control {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 30px;
	height: 50px;
	background: url("../img/ui-elements.png") no-repeat;
}
.comments-slider__control_left {
	left: 0;
	background-position: -108px 0;
}
.comments-slider__control_right {
	right: 0;
	background-position: -144px 0;
}
.comments-slider__date {
	font-size: 12px;
	margin-bottom: 8px;
}
.comments-slider__text {
	line-height: 16px;
}
.comments-slider__author-name {
	font-weight: 700;
	font-size: 18px;
	margin-top: 22px;
}
.comments-slider__author-info {
	font-size: 12px;
}