.completed-slider-info {
	font-size: 13px;
	text-align: left;
}
.completed-slider-info__title {
	font-size: 18px;
	font-weight: 700;
	margin: 17px 0 7px;
}
.completed-slider-info__paragraph {
	margin-bottom: 15px;
}
.completed-slider-info__article {
	display: inline-block;
	width: 83.33333333%;
	line-height: 16px;
	margin-bottom: 13px;
}