.consultation {}
.consultation__input {
	display: block;
	width: 354px;
}
.consultation__textarea {
	height: 80px;
	margin-bottom: 20px;
}
.consultation__submit {
	padding: 0 30px 2px;
    line-height: 40px;
}