.contents {
	margin-top: 22px;
	background: #fcfcfc;
	border: solid #e2e2e2;
	border-width: 1px 0 1px 0;
	padding: 30px 0  21px;
}
.contents__text {
	margin: 54px 0 35px;
	font-size: 13px;
	color: #444;
	line-height: 16px;
}
.contents__wrapper {
	margin-left: -22px;
}
.contents__col {
	list-style: none;
	padding: 0 10px;
}
.content__item-separate {
	margin-top: 15px;
}
.content__item-separate_both {
	margin: 15px 0 23px;
}
.contents__subitems {
	list-style: none;
	padding: 0;
	margin: -3px 0px 7px 27px;
}