.dropdown-menu .divider {
    height: 1px;
    margin: 9px 20px;
    overflow: hidden;
    background-color: #2f2f2f;
}
.divider_vertical {
	background-color: #e2e2e2;
	width: 1px;
	height: 57px;
	margin: 9px 30px;
}