.download-icon {
	width: 18px;
	height: 16px;
	background: url('../img/ui-elements.png') 36px 0;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.download-icon_grey {
	background-position: 36px -24px;
}