.excursion-form {
	width: 230px;
	margin-bottom: 20px;
}
.excursion-form__input {
	width: 100%;
	white-space: normal;
}
.excursion-form__textarea {
	height: 120px;
}
.exscursion-form__btn {
	font-size: 16px;
	margin: 14px 0 18px;
    padding: 10px;
    line-height: 21px;
}
.excursion-form__note {
	font-size: 12px;
	line-height: 15px;
}