.flat-info {
	margin-left: -55px;
	width: 322px;
	text-align: center;
}
.flat-info__top {
	margin: -4px 0 18px;
	line-height: 24px;
}
.flat-info__title {
	font-size: 18px;
	color: #000;
}
.flat-info__image {
	display: block;
	margin: 0 auto 15px;
}
.flat-info__extra {
	font-size: 13px;
	margin: 26px 0 21px;
}
.flat-info__bottom-title {
	color: #767676;
	margin-bottom: 14px;
}
.flat-info__plan {
	cursor: pointer;
}
.flat-info__popup {
	position: absolute;
	width: 1170px;
	background: #fff;
	left: calc(50% - 585px);
	z-index: 999;
	padding: 48px 0 0;
	display: none;
}
.flat-info__popup-title {
	font-size: 24px;
	margin-bottom: 15px;
	font-weight: normal;
}
.flat-info__popup-top {
	text-align: center;
    padding-top: 9px;
    padding-left: 13px;
    font-size: 13px;
}
.flat-info__popup-bottom {
	padding: 30px 150px 35px 100px;
	font-size: 16px;
	font-weight: 700;
}
.flat-info__popup-article {
	font-size: 14px;
	margin: -10px 0 5px;
	line-height: 18px;
	font-weight: normal;
}