.flat-price {}
.flat-price__price-col {
	margin-right: 18px;
}
.flat-price__extra-price-col {
	padding-top: 10px;
}
.flat-price__old-price {
	font-size: 15px;
	color: #767676 !important;
	text-decoration: line-through;
}
.flat-price__basic-price {
	font-size: 30px;
	color: #f3292e;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 4px;
}
.flat-price__profit {
	font-size: 14px;
}
.flat-price__final-price {
	font-size: 20px;
	line-height: 22px;
}
.print .flat-price {
	padding-left: 4px;
	margin-bottom: 62px;
}
.print .flat-price__old-price {
	font-size: 22px;
	margin-bottom: 12px;
}
.print .flat-price__basic-price {
	font-size: 44px;
	margin-bottom: 9px;
}
.print .flat-price__profit {
	font-size: 22px;
}