.flat-search {
	margin-top: 28px;
}
.flat-search__row {}
.flat-search__field {
	display: inline-block;
	vertical-align: top;
}
.flat-search__label {
	display: block;
}
.flat-search__price {
	margin-top: 9px;
}
.flat-search__price-inputs-wrapper {
	margin-bottom: 20px;
}
.flat-search__price-input {
	border: 1px solid #ccc;
	font-size: 25px;
	width: 148px;
	padding-left: 10px;
}
.flat-search__caption,
.flat-search__caption-dash {
	display: inline-block;
}
.flat-search__caption {
	vertical-align: 22%;
	padding: 0 3px;
}
.flat-search__caption-dash {
	vertical-align: 15%;
	padding: 0 5px;
}