.grey-section {
	background: #f2f2f2;
	padding-top: 58px;
}
.grey-section_price {
	padding: 46px 0 44px 0;
}
.grey-section__row {
	padding-top: 27px;
}
.mobile .grey-section {
	padding: 0 0 10px;
}
.mobile .grey-section_price {
	padding: 12px 0 44px 0;
}