.header {
	background: #fcfcfc;
}
.header__block {
	border-bottom: 1px solid #e2e2e2;
}
.header__block_lower {
  background: #fff;
}
.header__block-inner {
  margin-left: -30px;
}
.header__section {
	display: inline-block;
	font-size: 13px;
	vertical-align: middle;
}
.header__section_left {
  padding: 16px 30px 23px 10px;
}
.header__section_middle {
  margin-top: -10px;
}
.header__section_right {
	text-align: right;
  position: relative;
  top: -2px;
  right: -61px;
}
.header__lowest-price {
	color: #ea2e33;
	font-size: 18px;
	text-decoration: underline;
  display: inline-block;
  padding-top: 4px;
}
.header__phone {
	font-size: 24px;
	font-weight: 700;
  line-height: 30px;
}
.header__phone_grey {
	color: #767676;
}