.link {
	display: inline;
	border-bottom: 1px solid #dfdfdf;
	color: #1a1a1a;
}
.link:hover {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: #f4292d;
}
.link_red {
	color: #ea2e33;
	text-decoration: underline;
}
.link_red:hover {
	color: #ea2e33;
	text-decoration: none;
}
.link_red:active {
	color: #a90005;
	text-decoration: none;
}
.link_blue {
	font-size: 16px;
	color: #0f94bb;
	text-decoration: underline;
}
.link_blue:hover {
	color: #0f94bb;
	text-decoration: none;
}
.link_blue:active {
	color: #005974;
	text-decoration: none;
}
.link_black {
	color: #191919;
	border-bottom: 1px solid #d5d5d5;
}
.link_black:hover {
	color: #191919;
	border-bottom: 1px solid transparent;
	text-decoration: none;
}
.link_white {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.link_white:hover,
.link_white:active {
	color: #fff;
	text-decoration: none;
	border-bottom: 0;
}
.link_main-slider {
	margin-bottom: 11px;
	display: inline-block;
	border-bottom: 1px solid #d8d8d8;
}
.link_dotted {
	color: #f3292e;
    border-bottom: 1px dotted #f3292e;
    margin-right: 10px;
}
.link_no-margin {
	margin: 0;
}
.link_nav:hover,
.link_nav:hover > .glyphicon_advanced-search {
	color: #f3292e;
}
.link_nav:active,
.link_popular:active {
	color: #0f95bb;
}
.link_nav:hover > .link_dotted,
.link_nav:active > .link_dotted {
	border: none;
}
.link_nav:active > .glyphicon_advanced-search,
.link_nav:active > .link_dotted {
	color: #0f95bb;
}
.link_menu {
	color: #1a1a1a;
	text-decoration: none;
	position: relative;
}
.link_menu-top:hover:after,
.link_menu-top:active:after {
	position: absolute;
	top: 0;
	left: 15px;
	content: "";
	width: 39px;
	height: 2px;
}
.link_menu-top:hover:after,
.link_menu-main:hover:after {
	background: #f3292e;
}
.link_menu-top:active:after,
.link_menu-main:active:after {
	background: #0f95bb;
}
.link_menu-main {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
.link_menu-main:hover:after,
.link_menu-main:active:after {
	position: absolute;
	top: 0;
	left: 15px;
	content: "";
	width: 74px;
	height: 3px;
}
.link_advanced-search {
	padding-left: 0 !important;
}
.link_popular {
	color: #f3292e;
}
.link_video {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 370px;
	height: 260px;
	background: url('../img/video-preview.jpg');
	color: #fff;
	text-decoration: none;
	justify-content: center;
}
.link_video:hover {
	color: #fff;
	text-decoration: none;
}
.link_block {
	display: inline-block;
	font-size: 22px;
	color: #0f94bb;
	line-height: 38px;
	border: 1px solid #e2e2e2;
	padding: 0 22px 1px 14px;
	margin-bottom: 12px;
}
.link_block:hover {
	color: #0f94bb;
	text-decoration: none;
	border: 1px solid #0f94bb;
}
.link_contents {
	line-height: 32px;
	margin-left: 15px;
}
.link_contents-subitem {
	font-size: 12px;
	color: #767676;
}
.link_contents-subitem:hover {
	color: #f4292f;
}
.link_popup-menu,
.link_popup-menu-big {
	vertical-align: bottom;
}
.link_popup-menu {
	margin-right: 24px;
}
.link_popup-menu-big {
	font-size: 22px;
	margin-right: 48px;
	font-weight: 700;
}
.link_16 {
	font-size: 16px;
}
.link_catalog {
	border-bottom: 1px solid #e0e0e0;
}