.logo {
	display: inline-block;
	background: url("../img/logos.png")
}
.logo_vtb24 {
	background-position: 0 0;
	width: 130px;
	height: 40px;
}
.logo_sberbank {
	background-position: 0 -35px;
	width: 136px;
	height: 40px;
}
.logo_rshb {
	background-position: 0 -74px;
	width: 140px;
	height: 36px;
	margin-top: 4px;
}