.menu {
	list-style: none;
}
.menu_top {
	line-height: 18px;
	margin-left: -35px;
	padding-top: 2px;
}
.menu_main {
	margin-left: -30px;
	padding: 15px 0 15px 16px;
}
.menu__item {
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item-subtitle {
	font-size: 13px;
	color: #767676;
	font-weight: normal;
	text-transform: none;
	padding-top: 6px;
}
.menu__link {
	color: #1a1a1a;
	text-decoration: none;
	position: relative;
}
.menu__link:hover {
	color: #f3292e;
}
.menu__link:active {
	color: #0f95bb;
}
.menu__link:hover:after,
.menu__link:active:after {
	position: absolute;
	top: 0;
	left: 15px;
	content: "";
	width: 39px;
	height: 2px;
	background: #f3292e;
}
.menu__link:hover:after {
	background: #f3292e;
}
.menu__link:active:after {
	background: #0f95bb;
}
.menu__link_main {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}