.menu {
	list-style: none;
}
.menu_top {
	line-height: 18px;
	margin-left: -35px;
}
.menu_main {
	margin-left: -30px;
	padding: 15px 0 0 16px;
}
.menu__item {
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item-subtitle {
	font-size: 13px;
	color: #767676;
	font-weight: normal;
	text-transform: none;
	padding-top: 6px;
}
.menu__item_main {
	padding-bottom: 14px;
}
.menu__item_popup:hover > .popup-menu__wrapper {
	display: block;
}