.object-on-sale {}
.object-on-sale__top {
	font-size: 20px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 12px;
	margin: -3px 0 0 -4px;
}
.object-on-sale__bottom {
	font-size: 13px;
	padding-top: 20px;
	margin-left: -4px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.object-on-sale__inline-block {
	margin-right: 15px;
	line-height: 30px;
}
.object-on-sale__inline-block:first-child {
	margin-right: 45px;
}
.object-on-sale__download-links {
	margin-bottom: 20px;
}
.object-on-sale__download-links > .link_nav:last-child > .link_dotted {
	margin-right: 0;
}