.object-slider {
	margin-bottom: 50px;
}
.object-slider__wrapper {
	margin-top: 45px;
}
.object-slider__control {
	position: absolute;
	top: 50%;
	margin-top: -33px;
	width: 66px;
	height: 66px;
	background: url("../img/ui-elements.png") no-repeat;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.object-slider__control_left {
	left: 20px;
	background-position: 0 -72px;
}
.object-slider__control_right {
	right: 20px;
	background-position: -80px -72px;
}
.object-slider__carousel-indicators {
	bottom: 15px;
}
.object-slider__carousel-indicators > li {
	width: 18px;
	height: 18px;
	margin: 5px;
	border: 2px solid #fff;
	vertical-align: middle;
}
.object-slider__carousel-indicators > li.active {
	width: 18px;
	height: 18px;
	margin: 0 3px;
}