.popular {
	background: #f2f2f2;
	padding-top: 58px;
	padding-bottom: 68px;
}
.popular__row {
	padding-top: 27px;
}
.popular__help {
	width: 270px;
	margin-left: 8px;
	text-align: center;
	background-color: #fff;
}
.popular__help-top {
	height: 270px;
	background: url('../img/helpimg.jpg');
	color: #fff;
	padding-top: 32px;
}
.popular__help-bottom {
	padding: 22px 0 30px;
}
.popular__help-title {
	font-size: 18.01px;
}
.popular__help-subtitle {
	font-size: 14.01px;
}
.popular__person {
	line-height: 24px;
	margin-bottom: 17px;
}
.popular__person-name {
	font-size: 18.01px;
}
.popular__person-position {
	font-size: 14.01px;
	color: #767676;
}
.popular__phone {
	font-size: 24.11px;
	margin-bottom: 25px;
	line-height: 20px;
}
.popular__phone  > small {
	font-size: 14.06px;
}