.popular-slider {
	width: 900px;
	margin-left: -15px;
}
.popular-slider__item {
	width: 270px;
	display: inline-block;
	background: #fff;
	text-align: center;
	margin-right: 26px;
	margin-bottom: 20px;
}
.popular-slider__item:last-child {
	margin-right: 0;
}
.popular-slider__item-top {
	padding: 25px 0 13px 0;
}
.popular-slider__item-header {
	display: block;
	color: #1a1a1a;
}
.popular-slider__item-header:hover {
	color: #1a1a1a;
	text-decoration: none;
}
.popular-slider__item-title {
	font-size: 18px;
}
.popular-slider__item-subtitle {
	font-size: 13px;
	color: #767676;
	margin-left: -3px;
}
.popular-slider__item-img {
	display: block;
	margin: 17px 0 25px -5px;
}
.popular-slider__item-price {
	display: inline-block;
	font-size: 20px;
	color: #0f94bb;
	border: 1px solid #0f94bb;
	padding: 3px 16px 3px 13px;
	margin: 0 0 12px -3px;
}
.popular-slider__item-payment {
	font-size: 12px;
	padding-top: 2px;
}
.popular-slider__item-hp {
	font-family: Circe, sans-serif;
	color: #302d2e;
	line-height: 20px;
}
.popular-slider__item-bottom {
	padding: 15px 0 30px;
	border-top: 1px solid #e2e2e2;
}
.popular-slider__item-deadline {
	margin-bottom: 13px;
}