.price-block {
	position: relative;
	margin-bottom: 29px;
}
.price-block__top {
	margin-bottom: 15px;
}
.price-block__title {
	font-weight: 700;
	font-size: 20px;
	color: #000;
	line-height: 37px;
	margin-bottom: 0;
}
.price-block__subtitle {
	font-size: 16px;
}
.mobile .price-block {
	border-top: 2px solid #e2e2e2;
	margin-bottom: 23px;
}
.mobile .price-block__title {
	font-size: 16px;
	line-height: 20px;
	margin: 32px 0 14px;
}
.mobile .price-block__subtitle {
	font-size: 13px;
	margin-bottom: 10px;
}
.mobile .price-block__top {
	padding-left: 7px;
	margin-bottom: 23px;
}