.price-table {
	width: 100%;
	font-size: 13px;
}
.price-table > thead {
	border-bottom: 2px solid #e2e2e2;
	line-height: 55px;
}
.price-table > tbody {
	line-height: 37px;
}
.price-table td:first-child {
	padding-left: 30px;
}
.price-table_fixed-height > tbody {
	display: block;
	max-height: 296px;
	overflow-y: auto;
	/* Scrollbar customizations for IE */
	scrollbar-3dlight-color: transparent;
	scrollbar-highlight-color: #f2292f;
	scrollbar-track-color: #d9d9d9;
	scrollbar-arrow-color: transparent;
	scrollbar-shadow-color: transparent;
	scrollbar-dark-shadow-color: transparent;
}
/* Scrollbar customization fro Webkit */
.price-table_fixed-height > tbody::-webkit-scrollbar {
	width: 6px;
}
.price-table_fixed-height > tbody::-webkit-scrollbar-button {
	display: none;
}
.price-table_fixed-height > tbody::-webkit-scrollbar-track {
	background-color: #d9d9d9;
}
.price-table_fixed-height > tbody::-webkit-scrollbar-thumb {
	background-color: #f2292f;
}
/* End of scrollbar styles for Webkit */
.price-table_fixed-height > thead,
.price-table_fixed-height > tbody tr {
	display: table;
	width: 100%;
}
.price-table > tbody > tr:hover {
	color: #fff;
}
.price-table > tbody > tr:hover .link_red {
	color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.2);
}
.price-table__price {
	width: 145px;
}
.price-table__space {
	width: 90px;
	position: relative;
}
.price-table__space-inner {
	position: absolute;
	top: 0;
	width: 100%;
}
.price-table__space-inner > span {
	cursor: pointer;
	display: block;
}
.price-table__type {
	width: 66px;
}
.price-table__floor {
	width: 76px;
}
.price-table__object {
	width: 219px;
}
.price-table__deadline {
	width: 104px;
}
.price-table__mortgage {
	width: 124px;
}
.price-table__hp {
	width: 140px;
}
.price-table__promo {
	width: 73px;
}
.price-table__popover {
	display: table;
	position: absolute;
	top: -178px;
	left: -32px;
	width: 150px;
	min-height: 190px;
	background: #fff;
	font-size: 12px;
	z-index: 9;
	color: #1a1a1a;
	box-shadow: 0 -5px 25px #c9c9c9;
	line-height: normal;
}
.price-table__popover_wide {
	width: 515px;
	top: -208px;
	left: -32px;
}
.price-table__popover_wide .brick {
	margin: 14px 0 0;
    min-width: 0;
    padding: 5px;
    line-height: inherit;
}
.price-table__popover-left,
.price-table__popover-right {
	display: table-cell;
}
.price-table__popover-left {
	width: 160px;
	text-align: center;
	padding: 20px 10px 10px;
}
.price-table__popover-right {
	width: 385px;
	border-left: 1px solid #e5e5e5;
	padding: 20px;
}
.price-table__popover-emphasis {
	font-size: 16px;
	margin-bottom: 12px;
}
.price-table__popover-title {
	font-weight: 700;
	font-size: 16px;
	width: 180px;
	margin-bottom: 10px;
}
.price-table__popover-text {
	font-size: 12px;
	color: #767676;
	margin-bottom: 26px;
}