.readiness {
	font-size: 13px;
	margin-bottom: 8px;
}
.readiness_popover {
	margin: 15px 0 15px;
	line-height: 10px;
	font-size: 12px;
}
.readiness__value {
	font-size: 18px;
}
.readiness__scale {
	width: 240px;
	height: 4px;
	background: #e2e2e2;
	margin-top: 9px;
}
.rediness__scale_popover {
	width: auto;
}
.readiness__current {
	height: 4px;
	background: #0f94bb;
}
.readiness__current_red {
	background: #ea2e33;
}