.recommendations {
	padding-top: 47px;
	color: #242424;
}
.recommendations__title {
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 14px;
}
.recommendations__text {
	line-height: 18px;
	margin-bottom: 25px;
}
.recommendations__list {
	width: 965px;
	padding-left: 36px;
	list-style: none;
	font-size: 13px;
	margin-bottom: 16px;
}
.recommendations__list > li {
	background: url('../img/list-item.png') left center no-repeat;
	padding: 5px 0 0 64px;
	line-height: 16px;
	margin-bottom: 11px;
	min-height: 44px;
}
.recommendations__more-info {
	border-top: 1px solid #dfdfdf;
	color: #191919;
	font-weight: 700;
	font-size: 18px;
	margin-top: 44px;
	padding: 22px 0 19px;
}
.mobile .recommendations__more-info {
	border-top: none;
	font-size: 16px;
	margin-top: 10px;
	padding-left: 4px;
	line-height: 19px;
}