.scrolled-gallery {
	position: relative;
    box-sizing: border-box;
    width: 1170px;
    height: 100%;
    overflow: hidden;
    padding-top: 38px;
    margin-bottom: 37px;
}
.scrolled-gallery__container {
	overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
}
.scrolled-gallery__container::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.scrolled-gallery__container > img {
	margin-right: 27px;
}
.scrolled-gallery__track {
	height: 8px;
    background: #e7e7e7;
    position: absolute;
    top: 4px;
    width: 100%;
}
.scrolled-gallery__bar {
	position: absolute;
    top: -4px;
    width: 93px !important;
    height: 18px;
    background: #f3292e;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.scrolled-gallery__milestones {
	font-size: 12px;
	margin: -9px 0 3px;
}