.section {
	margin-bottom: 60px;
}
.section__title {
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 20px;
}
.section__title_lighter {
	color: #302d2e;
}
.section__title_big {
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 35px;
}
.section__col {
	float: left;
	margin: 0 11px 20px 0;
}
.section__col:nth-last-of-type(2) {
	margin-right: 0;
}