.social {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 1px;
	background: url('../img/social-icons.png');
}
.social_vk {
	background-position: 0 0;
}
.social_fb {
	background-position: 64px 0;
}
.social_ok {
	background-position: 30px 0;
}
.social__wrapper {
	margin: 10px 0 14px;
}