.support {
	width: 270px;
	margin-left: 8px;
	text-align: center;
	background-color: #fff;
}
.support__top {
	height: 270px;
	background: url('../img/helpimg.jpg');
	color: #fff;
	padding-top: 32px;
}
.support__bottom {
	padding: 22px 0 30px;
}
.support__title {
	font-size: 18.01px;
}
.support__subtitle {
	font-size: 14.01px;
}
.support__person {
	line-height: 24px;
	margin-bottom: 17px;
}
.support__person-name {
	font-size: 18.01px;
}
.support__person-position {
	font-size: 14.01px;
	color: #767676;
}
.support__phone {
	font-size: 24.11px;
	margin-bottom: 25px;
	line-height: 20px;
}
.support__phone  > small {
	font-size: 14.06px;
}