.tab {
	padding: 20px 30px 35px;
	font-size: 12px;
}
.tab__title {
	font-size: 20px;
	color: #1a1a1a;
	font-weight: 700;
	margin-bottom: 12px;
}
.tab__subtitle {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 5px;
}