.tabs-block {
	margin-bottom: 20px;
}
.tabs-block__navigation {
	border-bottom: 2px solid #e2e2e2;
	padding: 0 20px 0 13px;
}
.tabs-block__navigation_social {
	padding-left: 0;
}
.tabs-block__navigation_social > li > a {
	padding: 12px 20px 17px 20px !important;
}
.mobile .tabs-block {
	margin-bottom: 15px;
}
.mobile .tabs-block__navigation {
	margin-left: -20px;
	width: 320px;
}